@import '../../../globals/styles/base';

.AdminNavigation {
    color: $white;
    .top-nav {
        width: 95%;
        margin: auto;
        padding-top: 1.5rem;
        background: transparent;

        .navbar-collapse {
            .navbar-nav {
                .nav-item {
                    .nav-link {
                        color: $pink;
                        transition: .3s ease-out;
                        user-select: none;
                        -webkit-tap-highlight-color: transparent;
                        position: relative;

                        &:hover::before {
                            content: "";
                            position: absolute;
                            width: 30%;
                            height: 2px;
                            bottom: 0;
                            left: 0;
                            background: $pink;
                        }
                    }

                    @include smm {
                        padding-left: 1rem;
                    }
                }
            }

            @include smm {
                width: 100%;
                background: $pink-fade;
            }
        }

        .navbar-toggler {
            color: $white;

            &:hover {
                outline: none;
                box-shadow: none;
            }
        }

        .navigation-logo {
            display: inline-block;
            padding: 0 0.4rem;
            font-size: 1.5rem;
            color: $pink;
            border: 1px solid $pink;

            &:focus {
                outline: none;
                box-shadow: none;
            }
    
            @include smm {
                margin-bottom: 1rem;
            }
    
        }
        li.nav-item {
            margin-left: 1.2rem;
            .nav-link {
                color: $pink;
                transition: .3s ease-out;
                user-select: none;
                -webkit-tap-highlight-color: transparent;
                position: relative;

                &:hover::before {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    bottom: 0;
                    right: 0;
                    background: $pink;
                }
            }

            @include smm {
                .nav-link {
                    color: $white !important;
                }
            }
    
            @include smm {
                margin-left: 0;
                margin-top: 1.2rem
            }
        }
        .dropdown-divider {
            @include smm {
                border-top: 1px solid $white;
            }
        }
        .dropdown-menu {
            @include smm {
                border: 1px solid $white;
            }
        }
    }
}
