@import '../../../globals/styles/base';

.Footer {
    background-color: $white;
    height: 5rem;
    overflow: hidden;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 1rem 1rem 0 1rem;
    color: $black;
    margin-top: 1rem;
    box-shadow: 10px -1px 1px 0px $black;
    z-index: 1;
    color: $black;

    .footer-logo {
        display: inline-block;
        order: 0;

        .footer-logo-bg {
            padding: 0 0.4rem;
            font-size: 1.5rem;
            border: 1px solid $black;

            @include smm {
                margin-left: 1rem;
                margin-bottom: 1rem;
            }
        }
    }

    .footer-socials {
        display: inline-block;
        order: 1;
    }

    .footer-copyright {
        display: inline-block;
        order: 2;
        margin-right: 2rem;
        padding: 1rem;
        font-family: "DINPro-Light";

        span {
            display: inline-block;
            text-align: center;
            padding-top: 0.5rem;
        }

        @include smm {
            margin-right: unset;
        }
    }

    &:after {
        content: '';
        display: block;
    }
}
