@import '../../globals/styles/base';

.Home {
    color: $black;
    min-height: 100%;
    margin: 0 0 -5rem 0;

    &:after {
        content: "";
        display: block;
        height: 5rem;
    }
    header {
        height: 75vh;
        background-image: url('../../assets/full-bloom.png');
        background-repeat: repeat;
        background-blend-mode: multiply;
        background-color: $pink;
    }
    .jump1 {
        margin: -15.5rem auto 0;
        width: 90%;
        .professional-titles {
            color: white;
            font-size: 1.5rem;
            letter-spacing: 0.1rem;
            word-spacing: 0.5rem;
            position: relative;
            &::before {
                content: ' ';
                position: absolute;
                top: -1rem;
                left: 0;
                width: 10rem;
                height: 2px;
                background: $black;
            }
            &::after {
                content: '';
                position: absolute;
                top: -0.7rem;
                left: 0;
                width: 1rem;
                height: 2px;
                background-color: $black;
                transform: rotate(32deg);
            }
        }
        .my-name {
            font-size: 7rem;
            line-height: 110%;
            letter-spacing: 2px;
            font-family: 'Raleway', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            span {
                letter-spacing: 15px;
            }
        }
        .my-picture-container {
            width: 30rem;
            height: 40rem;
            margin-top: -10rem;
            background: $pink;
            margin-left: 9vw;
            box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
            position: relative;

            img {
                width: 100%;
                position: absolute;
                bottom: 0;
            }
        }
        .biography-heading {
            margin-top: 10vh;
            margin-bottom: 1rem;
            color: $pink;
            font-size: 2rem;
        }
        .biography-text {
            letter-spacing: 1px;
            word-spacing: 1px;
            font-size: 1.1rem;
            line-height: 150%;
            text-align: justify;
        }
        .numbered-links {
            width: 100%;
            font-size: 2rem;
            margin-top: 15vh;
            margin-left: 6.5vw;
            list-style: none;
            li {
                display: block;
                margin-bottom: 1rem;
                font-family: 'Raleway', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                .link-number {
                    font-weight: 300;
                    margin-right: 1rem;
                    position: relative;
                    margin-right: 7.5rem;
                    &:after {
                        content: '';
                        position: absolute;
                        right: -6rem;
                        top: 1.2rem;
                        height: 2px;
                        width: 5rem;
                        background-color: $pink;
                    }
                }
                .link-name {
                    font-weight: 600;
                    cursor: pointer;
                    transition: $transition;
                    &:hover, &.active {
                        color: $pink;
                    }
                }
            }
        }
        .col-md-6:first-child {
            font-family: 'Hind', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
        }
        .section-info {
            position: absolute;
            transform: rotate(90deg);
            right: -1rem;
            bottom: -32vh;
            letter-spacing: 2px;
            font-size: 1.4rem;
            font-weight: 300;
        }
    }

    .blog-peek-section {
        position: relative;
        padding: 15vh 0;

        .section-info {
            position: absolute;
            left: 0rem;
            top: 40%;
            transform: rotate(-90deg);
            letter-spacing: 2px;
            font-size: 1.4rem;
            font-weight: 300;
        }

        .peek-box {
            width: 100%;
            min-height: 25rem;
            box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
            position: relative;
            &, * {
                transition: all ease-in-out .3s;
            }
            
            &.active-box {border: 1px solid $pink;}

            .cats {
                position: absolute;
                left: -30vw;
                display: flex;
                flex-direction: column;
                height: 25rem;
                justify-content: space-evenly;
                li.cat {
                    list-style: none;
                    text-align: left;
                    border: 1px solid;
                    padding: 10px 1rem;
                    border-radius: 4px;
                    text-transform: uppercase;
                    position: relative;
                    cursor: pointer;

                    &.active {
                        border-width: 1px;
                    }

                    &:hover {
                        color: $pink;
                    }

                    &.active, &:hover {
                        border-color: $pink;
                        
                        &:after {
                            height: 0px;
                        }

                        &:before {
                            width: 125%;
                            background: $pink;
                        }
                    }

                    &:after {
                        content: '';
                        position: absolute;
                        left: 12vw;
                        top: 50%;
                        height: 1px;
                        width: 125%;
                        background: #E0E0E0;
                    }

                    &:before {
                        content: '';
                        position: absolute;
                        left: 12vw;
                        top: 50%;
                        height: 2px;
                        width: 0;
                        transition: all ease-in-out .3s;
                        background: #E0E0E0;
                    }
                }
            }

            &:after {
                height: 100%;
                width: 1px;
                background: #E0E0E0;
                content: '';
                position: absolute;
                left: 49.8%;
                top: 0;
            }

            .peeks {
                padding: 1rem;
                position: relative;

                .peek {
                    display: flex;
                    justify-content: space-between;
                    flex-direction: column;
                    .peek-image {
                        height: 10rem;
                        width: 100%;
                        object-fit: cover;
                        margin-bottom: 0.8rem;
                        filter: grayscale(1);

                        &:hover {
                            filter: grayscale(0);
                        }
                    }
                    .peek-text {
                        font-size: 1rem;
                        text-align: center;
                        font-weight: 500;
                        font-family: 'Avenir', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                        line-height: 1.5;
                    }
                    .peek-sneak {
                        font-size: 0.9rem;
                        font-weight: 200;
                        text-align: center;
                    }
                    .peek-post-time {
                        font-size: 0.8rem;
                        color: grey;
                        text-align: center;
                        font-style: italic;
                        font-family: 'Avenir', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                    }
                    .more {
                        display: block;
                        text-align: right;
                        font-weight: 100;
                        position: relative;
                        cursor: pointer;

                        &:hover {
                            color: $pink;
                            &:after {
                                background: $pink;
                            }
                        }

                        &:after {
                            content: '';
                            position: absolute;
                            bottom: 0;
                            background: #E0E0E0;
                            right: 0;
                            width: 4.5rem;
                            height: 1px;
                        }
                    }
                }
            }
        }

        .visit-blog {
            padding: 0.5rem 1rem;
            border: 1px solid;
            border-radius: 4px;
            margin: 5rem auto 0;
            display: block;
            color: $pink;
            width: fit-content;
            transition: all ease-in-out .4s;
            box-sizing: border-box;

            &:hover {
                text-decoration: none;
                border: 2px solid;
            }
        }
    }
}
