@import '../../globals/styles/base';

.Blog {
    color: $black;
    min-height: 100%;
    margin: 0 0 -5rem 0;

    &:after {
        content: "";
        display: block;
        height: 5rem;
    }

    header {

    }

    .blog-posts {
        width: 92.8%;
        margin: auto;
        background-color: $offwhite;

        .blog-posts-filters {
            display: flex;
            align-items: flex-start;
            margin: 1.5rem 0;

            label {
                padding: 0.5rem;
            }

            select.select-elem:focus {
                outline: none;
                box-shadow: 0 0;
            }


            .category-filter {
                width: 25rem;
                margin-left: 1rem;

                select.select-elem {
                    border: 1px solid $greymain;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                    background: url(../../assets/hijabPink.svg) 96% / 7% no-repeat $offwhite;
                    // background: url(../../assets/play-button-down-pink.svg) 96% / 5% no-repeat $greyscale;
    
                    &::-ms-expand { 
                        display: none; /* remove default arrow on ie10 & ie11 */
                    }
                }
            }

            .no-of-record-filter {
                width: 10.5rem;
                margin-left: 1rem;

                select.select-elem {
                    border: 1px solid $greymain;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                    background: url(../../assets/hijabPink.svg) 90% / 30% no-repeat $offwhite;
                    // background: url(../../assets/play-button-down-pink.svg) 90% / 19% no-repeat $greyscale;
    
                    &::-ms-expand { 
                        display: none; /* remove default arrow on ie10 & ie11 */
                    }
                }
            }

        }

        .blog-posts-list-container {
            .blog-post {
                margin-bottom: 2rem;
                width: 300px;
                box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
            }
        }

    }

}

@media screen and (min-width:0\0) {
    select.select-elem {
        background:none\9;
        padding: 5px\9;
    } 
}
